In [1]:
import pandas as pd
import tushare as ts

In [2]:
df_2019 = pd.read_csv('df_2019.csv')
df_2018 = pd.read_csv('df_2018.csv')
df_2017 = pd.read_csv('df_2017.csv')
df_2016 = pd.read_csv('df_2016.csv')
df_2015 = pd.read_csv('df_2015.csv')

In [43]:
df_raw = df_2015
df_raw = df_raw.append(df_2016)
df_raw = df_raw.append(df_2017)
df_raw = df_raw.append(df_2018)
df_raw = df_raw.append(df_2019)

In [44]:
df_raw.shape

(3658156, 11)

In [45]:
#----5                             
df_raw['next5_close']=df_raw.groupby('ts_code')['close'].shift(-5)#上平移
df_raw['next1_open']=df_raw.groupby('ts_code')['open'].shift(-1)#上平移    

#---10
                              
df_raw['next10_close']=df_raw.groupby('ts_code')['close'].shift(-10)#上平移

#---20                             
df_raw['next20_close']=df_raw.groupby('ts_code')['close'].shift(-20)#上平移


#---60                              
df_raw['next60_close']=df_raw.groupby('ts_code')['close'].shift(-60)#上平移

In [46]:
df_raw['next2_close']=df_raw.groupby('ts_code')['close'].shift(-2)#上平移

In [47]:
df_raw['absolute_return_5']=(df_raw['next5_close']-df_raw['next1_open'])/df_raw['next1_open']
df_raw['absolute_return_2']=(df_raw['next2_close']-df_raw['next1_open'])/df_raw['next1_open']

#--10
df_raw['absolute_return_10']=(df_raw['next10_close']-df_raw['next1_open'])/df_raw['next1_open']

#--20
df_raw['absolute_return_20']=(df_raw['next20_close']-df_raw['next1_open'])/df_raw['next1_open']

#--60
df_raw['absolute_return_60']=(df_raw['next60_close']-df_raw['next1_open'])/df_raw['next1_open']

df_raw['open_low']=(df_raw['next1_open']-df_raw['close'])/df_raw['close']

In [48]:
df_raw['return_5']=(df_raw['next5_close']-df_raw['close'])/df_raw['close']
df_raw['return_2']=(df_raw['next2_close']-df_raw['close'])/df_raw['close']

#--10
df_raw['return_10']=(df_raw['next10_close']-df_raw['close'])/df_raw['close']

#--20
df_raw['return_20']=(df_raw['next20_close']-df_raw['close'])/df_raw['close']

#--60
df_raw['return_60']=(df_raw['next60_close']-df_raw['close'])/df_raw['close']

df_raw['open_low']=(df_raw['next1_open']-df_raw['close'])/df_raw['close']

In [49]:
result = pd.read_csv('New_Result_Positive.csv')

In [50]:
result.shape

(913, 4)

In [51]:
df_raw_2019 = df_raw[df_raw['trade_date']>20190000]
df_raw_2018=df_raw[(df_raw['trade_date']<20190000)&(df_raw['trade_date']>20180000)]
df_raw_2017=df_raw[(df_raw['trade_date']<20180000)&(df_raw['trade_date']>20170000)]
df_raw_2016=df_raw[(df_raw['trade_date']<20170000)&(df_raw['trade_date']>20160000)]
df_raw_2015=df_raw[(df_raw['trade_date']<20160000)&(df_raw['trade_date']>20150000)]

In [52]:
df_raw_2019['trade_date'] = df_raw_2019['trade_date'].apply(str)
df_raw_2018['trade_date'] = df_raw_2018['trade_date'].apply(str)
df_raw_2017['trade_date'] = df_raw_2017['trade_date'].apply(str)
df_raw_2016['trade_date'] = df_raw_2016['trade_date'].apply(str)
df_raw_2015['trade_date'] = df_raw_2015['trade_date'].apply(str)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [53]:
df_raw_201901 = df_raw_2019[df_raw_2019['trade_date']<'201902']
df_raw_201902 = df_raw_2019[(df_raw_2019['trade_date']>'201902')&(df_raw_2019['trade_date']<'201903')]
df_raw_201903 = df_raw_2019[(df_raw_2019['trade_date']>'201903')&(df_raw_2019['trade_date']<'201904')]
df_raw_201904 = df_raw_2019[(df_raw_2019['trade_date']>'201904')&(df_raw_2019['trade_date']<'201905')]
df_raw_201905 = df_raw_2019[(df_raw_2019['trade_date']>'201905')&(df_raw_2019['trade_date']<'201906')]
df_raw_201906 = df_raw_2019[(df_raw_2019['trade_date']>'201906')&(df_raw_2019['trade_date']<'201907')]
df_raw_201907 = df_raw_2019[(df_raw_2019['trade_date']>'201907')&(df_raw_2019['trade_date']<'201908')]
df_raw_201908 = df_raw_2019[(df_raw_2019['trade_date']>'201908')&(df_raw_2019['trade_date']<'201909')]
df_raw_201909 = df_raw_2019[(df_raw_2019['trade_date']>'201909')&(df_raw_2019['trade_date']<'201910')]
df_raw_201910 = df_raw_2019[(df_raw_2019['trade_date']>'201910')&(df_raw_2019['trade_date']<'201911')]
df_raw_201911 = df_raw_2019[(df_raw_2019['trade_date']>'201911')&(df_raw_2019['trade_date']<'201912')]
df_raw_201912 = df_raw_2019[(df_raw_2019['trade_date']>'201912')&(df_raw_2019['trade_date']<'202001')]

In [54]:
df_raw_201801 = df_raw_2018[(df_raw_2018['trade_date']>'201801')&(df_raw_2018['trade_date']<'201802')]
df_raw_201802 = df_raw_2018[(df_raw_2018['trade_date']>'201802')&(df_raw_2018['trade_date']<'201803')]
df_raw_201803 = df_raw_2018[(df_raw_2018['trade_date']>'201803')&(df_raw_2018['trade_date']<'201804')]
df_raw_201804 = df_raw_2018[(df_raw_2018['trade_date']>'201804')&(df_raw_2018['trade_date']<'201805')]
df_raw_201805 = df_raw_2018[(df_raw_2018['trade_date']>'201805')&(df_raw_2018['trade_date']<'201806')]
df_raw_201806 = df_raw_2018[(df_raw_2018['trade_date']>'201806')&(df_raw_2018['trade_date']<'201807')]
df_raw_201807 = df_raw_2018[(df_raw_2018['trade_date']>'201807')&(df_raw_2018['trade_date']<'201808')]
df_raw_201808 = df_raw_2018[(df_raw_2018['trade_date']>'201808')&(df_raw_2018['trade_date']<'201809')]
df_raw_201809 = df_raw_2018[(df_raw_2018['trade_date']>'201809')&(df_raw_2018['trade_date']<'201810')]
df_raw_201810 = df_raw_2018[(df_raw_2018['trade_date']>'201810')&(df_raw_2018['trade_date']<'201811')]
df_raw_201811 = df_raw_2018[(df_raw_2018['trade_date']>'201811')&(df_raw_2018['trade_date']<'201812')]
df_raw_201812 = df_raw_2018[(df_raw_2018['trade_date']>'201812')&(df_raw_2018['trade_date']<'201901')]


df_raw_201701 = df_raw_2017[(df_raw_2017['trade_date']>'201701')&(df_raw_2017['trade_date']<'201702')]
df_raw_201702 = df_raw_2017[(df_raw_2017['trade_date']>'201702')&(df_raw_2017['trade_date']<'201703')]
df_raw_201703 = df_raw_2017[(df_raw_2017['trade_date']>'201703')&(df_raw_2017['trade_date']<'201704')]
df_raw_201704 = df_raw_2017[(df_raw_2017['trade_date']>'201704')&(df_raw_2017['trade_date']<'201705')]
df_raw_201705 = df_raw_2017[(df_raw_2017['trade_date']>'201705')&(df_raw_2017['trade_date']<'201706')]
df_raw_201706 = df_raw_2017[(df_raw_2017['trade_date']>'201706')&(df_raw_2017['trade_date']<'201707')]
df_raw_201707 = df_raw_2017[(df_raw_2017['trade_date']>'201707')&(df_raw_2017['trade_date']<'201708')]
df_raw_201708 = df_raw_2017[(df_raw_2017['trade_date']>'201708')&(df_raw_2017['trade_date']<'201709')]
df_raw_201709 = df_raw_2017[(df_raw_2017['trade_date']>'201709')&(df_raw_2017['trade_date']<'201710')]
df_raw_201710 = df_raw_2017[(df_raw_2017['trade_date']>'201710')&(df_raw_2017['trade_date']<'201711')]
df_raw_201711 = df_raw_2017[(df_raw_2017['trade_date']>'201711')&(df_raw_2017['trade_date']<'201712')]
df_raw_201712 = df_raw_2017[(df_raw_2017['trade_date']>'201712')&(df_raw_2017['trade_date']<'201801')]



df_raw_201601 = df_raw_2016[(df_raw_2016['trade_date']>'201601')&(df_raw_2016['trade_date']<'201602')]
df_raw_201602 = df_raw_2016[(df_raw_2016['trade_date']>'201602')&(df_raw_2016['trade_date']<'201603')]
df_raw_201603 = df_raw_2016[(df_raw_2016['trade_date']>'201603')&(df_raw_2016['trade_date']<'201604')]
df_raw_201604 = df_raw_2016[(df_raw_2016['trade_date']>'201604')&(df_raw_2016['trade_date']<'201605')]
df_raw_201605 = df_raw_2016[(df_raw_2016['trade_date']>'201605')&(df_raw_2016['trade_date']<'201606')]
df_raw_201606 = df_raw_2016[(df_raw_2016['trade_date']>'201606')&(df_raw_2016['trade_date']<'201607')]
df_raw_201607 = df_raw_2016[(df_raw_2016['trade_date']>'201607')&(df_raw_2016['trade_date']<'201608')]
df_raw_201608 = df_raw_2016[(df_raw_2016['trade_date']>'201608')&(df_raw_2016['trade_date']<'201609')]
df_raw_201609 = df_raw_2016[(df_raw_2016['trade_date']>'201609')&(df_raw_2016['trade_date']<'201610')]
df_raw_201610 = df_raw_2016[(df_raw_2016['trade_date']>'201610')&(df_raw_2016['trade_date']<'201611')]
df_raw_201611 = df_raw_2016[(df_raw_2016['trade_date']>'201611')&(df_raw_2016['trade_date']<'201612')]
df_raw_201612 = df_raw_2016[(df_raw_2016['trade_date']>'201612')&(df_raw_2016['trade_date']<'201701')]




df_raw_201501 = df_raw_2015[(df_raw_2015['trade_date']>'201501')&(df_raw_2015['trade_date']<'201502')]
df_raw_201502 = df_raw_2015[(df_raw_2015['trade_date']>'201502')&(df_raw_2015['trade_date']<'201503')]
df_raw_201503 = df_raw_2015[(df_raw_2015['trade_date']>'201503')&(df_raw_2015['trade_date']<'201504')]
df_raw_201504 = df_raw_2015[(df_raw_2015['trade_date']>'201504')&(df_raw_2015['trade_date']<'201505')]
df_raw_201505 = df_raw_2015[(df_raw_2015['trade_date']>'201505')&(df_raw_2015['trade_date']<'201506')]
df_raw_201506 = df_raw_2015[(df_raw_2015['trade_date']>'201506')&(df_raw_2015['trade_date']<'201507')]
df_raw_201507 = df_raw_2015[(df_raw_2015['trade_date']>'201507')&(df_raw_2015['trade_date']<'201508')]
df_raw_201508 = df_raw_2015[(df_raw_2015['trade_date']>'201508')&(df_raw_2015['trade_date']<'201509')]
df_raw_201509 = df_raw_2015[(df_raw_2015['trade_date']>'201509')&(df_raw_2015['trade_date']<'201510')]
df_raw_201510 = df_raw_2015[(df_raw_2015['trade_date']>'201510')&(df_raw_2015['trade_date']<'201511')]
df_raw_201511 = df_raw_2015[(df_raw_2015['trade_date']>'201511')&(df_raw_2015['trade_date']<'201512')]
df_raw_201512 = df_raw_2015[(df_raw_2015['trade_date']>'201512')&(df_raw_2015['trade_date']<'201601')]

In [55]:
result_201501 = result[result['months']<'201502']
result_201502 = result[(result['months']>'201501')&(result['months']<'201503')]
result_201503 = result[(result['months']>'201502')&(result['months']<'201504')]
result_201504 = result[(result['months']>'201503')&(result['months']<'201505')]
result_201505 = result[(result['months']>'201504')&(result['months']<'201506')]
result_201506 = result[(result['months']>'201505')&(result['months']<'201507')]
result_201507 = result[(result['months']>'201506')&(result['months']<'201508')]
result_201508 = result[(result['months']>'201507')&(result['months']<'201509')]
result_201509 = result[(result['months']>'201508')&(result['months']<'201510')]
result_201510 = result[(result['months']>'201509')&(result['months']<'201511')]
result_201511 = result[(result['months']>'201510')&(result['months']<'201512')]
result_201512 = result[(result['months']>'201511')&(result['months']<'201601')]
result_201601 = result[(result['months']>'201512')&(result['months']<'201602')]
result_201602 = result[(result['months']>'201601')&(result['months']<'201603')]
result_201603 = result[(result['months']>'201602')&(result['months']<'201604')]
result_201604 = result[(result['months']>'201603')&(result['months']<'201605')]
result_201605 = result[(result['months']>'201604')&(result['months']<'201606')]
result_201606 = result[(result['months']>'201605')&(result['months']<'201607')]
result_201607 = result[(result['months']>'201606')&(result['months']<'201608')]
result_201608 = result[(result['months']>'201607')&(result['months']<'201609')]
result_201609 = result[(result['months']>'201608')&(result['months']<'201610')]
result_201610 = result[(result['months']>'201609')&(result['months']<'201611')]
result_201611 = result[(result['months']>'201610')&(result['months']<'201612')]
result_201612 = result[(result['months']>'201611')&(result['months']<'201701')]
result_201701 = result[(result['months']>'201612')&(result['months']<'201702')]
result_201702 = result[(result['months']>'201701')&(result['months']<'201703')]
result_201703 = result[(result['months']>'201702')&(result['months']<'201704')]
result_201704 = result[(result['months']>'201703')&(result['months']<'201705')]
result_201705 = result[(result['months']>'201704')&(result['months']<'201706')]
result_201706 = result[(result['months']>'201705')&(result['months']<'201707')]
result_201707 = result[(result['months']>'201706')&(result['months']<'201708')]
result_201708 = result[(result['months']>'201707')&(result['months']<'201709')]
result_201709 = result[(result['months']>'201708')&(result['months']<'201710')]
result_201710 = result[(result['months']>'201709')&(result['months']<'201711')]
result_201711 = result[(result['months']>'201710')&(result['months']<'201712')]
result_201712 = result[(result['months']>'201711')&(result['months']<'201801')]
result_201801 = result[(result['months']>'201712')&(result['months']<'201802')]
result_201802 = result[(result['months']>'201801')&(result['months']<'201803')]
result_201803 = result[(result['months']>'201802')&(result['months']<'201804')]
result_201804 = result[(result['months']>'201803')&(result['months']<'201805')]
result_201805 = result[(result['months']>'201804')&(result['months']<'201806')]
result_201806 = result[(result['months']>'201805')&(result['months']<'201807')]
result_201807 = result[(result['months']>'201806')&(result['months']<'201808')]
result_201808 = result[(result['months']>'201807')&(result['months']<'201809')]
result_201809 = result[(result['months']>'201808')&(result['months']<'201810')]
result_201810 = result[(result['months']>'201809')&(result['months']<'201811')]
result_201811 = result[(result['months']>'201810')&(result['months']<'201812')]
result_201812 = result[(result['months']>'201811')&(result['months']<'201901')]
result_201901 = result[(result['months']>'201812')&(result['months']<'201902')]
result_201902 = result[(result['months']>'201901')&(result['months']<'201903')]
result_201903 = result[(result['months']>'201902')&(result['months']<'201904')]
result_201904 = result[(result['months']>'201903')&(result['months']<'201905')]
result_201905 = result[(result['months']>'201904')&(result['months']<'201906')]
result_201906 = result[(result['months']>'201905')&(result['months']<'201907')]
result_201907 = result[(result['months']>'201906')&(result['months']<'201908')]
result_201908 = result[(result['months']>'201907')&(result['months']<'201909')]
result_201909 = result[(result['months']>'201908')&(result['months']<'201910')]
result_201910 = result[(result['months']>'201909')&(result['months']<'201911')]
result_201911 = result[(result['months']>'201910')&(result['months']<'201912')]
result_201912 = result[(result['months']>'201911')&(result['months']<'201913')]

In [56]:
df_raw_201901 = result_201901.merge(df_raw_201901)
df_raw_201901 = result_201901.merge(df_raw_201901)
df_raw_201902 = result_201902.merge(df_raw_201902)
df_raw_201903 = result_201903.merge(df_raw_201903)
df_raw_201904 = result_201904.merge(df_raw_201904)
df_raw_201905 = result_201905.merge(df_raw_201905)
df_raw_201906 = result_201906.merge(df_raw_201906)
df_raw_201907 = result_201907.merge(df_raw_201907)
df_raw_201908 = result_201908.merge(df_raw_201908)
df_raw_201909 = result_201909.merge(df_raw_201909)
df_raw_201910 = result_201910.merge(df_raw_201910)
df_raw_201911 = result_201911.merge(df_raw_201911)
df_raw_201912 = result_201912.merge(df_raw_201912)

In [57]:
df_raw_201801 = result_201801.merge(df_raw_201801)
df_raw_201802 = result_201802.merge(df_raw_201802)
df_raw_201803 = result_201803.merge(df_raw_201803)
df_raw_201804 = result_201804.merge(df_raw_201804)
df_raw_201805 = result_201805.merge(df_raw_201805)
df_raw_201806 = result_201806.merge(df_raw_201806)
df_raw_201807 = result_201807.merge(df_raw_201807)
df_raw_201808 = result_201808.merge(df_raw_201808)
df_raw_201809 = result_201809.merge(df_raw_201809)
df_raw_201810 = result_201810.merge(df_raw_201810)
df_raw_201811 = result_201811.merge(df_raw_201811)
df_raw_201812 = result_201812.merge(df_raw_201812)

df_raw_201701 = result_201701.merge(df_raw_201701)
df_raw_201702 = result_201702.merge(df_raw_201702)
df_raw_201703 = result_201703.merge(df_raw_201703)
df_raw_201704 = result_201704.merge(df_raw_201704)
df_raw_201705 = result_201705.merge(df_raw_201705)
df_raw_201706 = result_201706.merge(df_raw_201706)
df_raw_201707 = result_201707.merge(df_raw_201707)
df_raw_201708 = result_201708.merge(df_raw_201708)
df_raw_201709 = result_201709.merge(df_raw_201709)
df_raw_201710 = result_201710.merge(df_raw_201710)
df_raw_201711 = result_201711.merge(df_raw_201711)
df_raw_201712 = result_201712.merge(df_raw_201712)

df_raw_201601 = result_201601.merge(df_raw_201601)
df_raw_201602 = result_201602.merge(df_raw_201602)
df_raw_201603 = result_201603.merge(df_raw_201603)
df_raw_201604 = result_201604.merge(df_raw_201604)
df_raw_201605 = result_201605.merge(df_raw_201605)
df_raw_201606 = result_201606.merge(df_raw_201606)
df_raw_201607 = result_201607.merge(df_raw_201607)
df_raw_201608 = result_201608.merge(df_raw_201608)
df_raw_201609 = result_201609.merge(df_raw_201609)
df_raw_201610 = result_201610.merge(df_raw_201610)
df_raw_201611 = result_201611.merge(df_raw_201611)
df_raw_201612 = result_201612.merge(df_raw_201612)

df_raw_201501 = result_201501.merge(df_raw_201501)
df_raw_201502 = result_201502.merge(df_raw_201502)
df_raw_201503 = result_201503.merge(df_raw_201503)
df_raw_201504 = result_201504.merge(df_raw_201504)
df_raw_201505 = result_201505.merge(df_raw_201505)
df_raw_201506 = result_201506.merge(df_raw_201506)
df_raw_201507 = result_201507.merge(df_raw_201507)
df_raw_201508 = result_201508.merge(df_raw_201508)
df_raw_201509 = result_201509.merge(df_raw_201509)
df_raw_201510 = result_201510.merge(df_raw_201510)
df_raw_201511 = result_201511.merge(df_raw_201511)
df_raw_201512 = result_201512.merge(df_raw_201512)

In [58]:
df_raw = df_raw_201501
df_raw = df_raw.append(df_raw_201502)
df_raw = df_raw.append(df_raw_201503)
df_raw = df_raw.append(df_raw_201504)
df_raw = df_raw.append(df_raw_201505)
df_raw = df_raw.append(df_raw_201506)
df_raw = df_raw.append(df_raw_201507)
df_raw = df_raw.append(df_raw_201508)
df_raw = df_raw.append(df_raw_201509)
df_raw = df_raw.append(df_raw_201510)
df_raw = df_raw.append(df_raw_201511)
df_raw = df_raw.append(df_raw_201512)

df_raw = df_raw.append(df_raw_201601)
df_raw = df_raw.append(df_raw_201602)
df_raw = df_raw.append(df_raw_201603)
df_raw = df_raw.append(df_raw_201604)
df_raw = df_raw.append(df_raw_201605)
df_raw = df_raw.append(df_raw_201606)
df_raw = df_raw.append(df_raw_201607)
df_raw = df_raw.append(df_raw_201608)
df_raw = df_raw.append(df_raw_201609)
df_raw = df_raw.append(df_raw_201610)
df_raw = df_raw.append(df_raw_201611)
df_raw = df_raw.append(df_raw_201612)

df_raw = df_raw.append(df_raw_201701)
df_raw = df_raw.append(df_raw_201702)
df_raw = df_raw.append(df_raw_201703)
df_raw = df_raw.append(df_raw_201704)
df_raw = df_raw.append(df_raw_201705)
df_raw = df_raw.append(df_raw_201706)
df_raw = df_raw.append(df_raw_201707)
df_raw = df_raw.append(df_raw_201708)
df_raw = df_raw.append(df_raw_201709)
df_raw = df_raw.append(df_raw_201710)
df_raw = df_raw.append(df_raw_201711)
df_raw = df_raw.append(df_raw_201712)



df_raw = df_raw.append(df_raw_201801)
df_raw = df_raw.append(df_raw_201802)
df_raw = df_raw.append(df_raw_201803)
df_raw = df_raw.append(df_raw_201804)
df_raw = df_raw.append(df_raw_201805)
df_raw = df_raw.append(df_raw_201806)
df_raw = df_raw.append(df_raw_201807)
df_raw = df_raw.append(df_raw_201808)
df_raw = df_raw.append(df_raw_201809)
df_raw = df_raw.append(df_raw_201810)
df_raw = df_raw.append(df_raw_201811)
df_raw = df_raw.append(df_raw_201812)


df_raw = df_raw.append(df_raw_201901)
df_raw = df_raw.append(df_raw_201902)
df_raw = df_raw.append(df_raw_201903)
df_raw = df_raw.append(df_raw_201904)
df_raw = df_raw.append(df_raw_201905)
df_raw = df_raw.append(df_raw_201906)
df_raw = df_raw.append(df_raw_201907)
df_raw = df_raw.append(df_raw_201908)
df_raw = df_raw.append(df_raw_201909)
df_raw = df_raw.append(df_raw_201910)
df_raw = df_raw.append(df_raw_201911)
df_raw = df_raw.append(df_raw_201912)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [59]:
pro = ts.pro_api('9624a6c4c99a6a6534c97a46da04f644f2b23d7f4e280df937c9d1ea')
stock_basic= pro.stock_basic(exchange='', list_status='', fields='ts_code,name,industry')

In [60]:
df_raw = df_raw.merge(stock_basic)

In [61]:
ipo_date = pro.stock_basic(exchange='', list_status='', fields='ts_code,list_date')
df_raw = df_raw.merge(ipo_date)
df_raw.head(1)  #get list_date

,absolute_return_10,absolute_return_2,absolute_return_20,absolute_return_5,absolute_return_60,amount,change,close,daily_change,high,...,return_2,return_20,return_5,return_60,trade_date,ts_code,vol,name,industry,list_date
0,-0.034895,-0.00997,-0.005982,-0.091725,1.392822,249272.6361,0.44,10.04,1.0218750000000003,10.46,...,-0.010956,-0.006972,-0.092629,1.390438,20150302,000016.SZ,250753.81,深康佳A,家用电器,19920327

In [62]:
df_raw['trade_date']  = df_raw['trade_date'].apply(str)

In [63]:
df_raw['trade_date']=pd.to_datetime(df_raw['trade_date'])
df_raw['list_date']=pd.to_datetime(df_raw['list_date'])
df_raw['date_gap'] = (df_raw['trade_date']-df_raw['list_date']) #计算date_gap ：上市天数

In [64]:
df_raw.sort_values(by = 'date_gap').head()

,absolute_return_10,absolute_return_2,absolute_return_20,absolute_return_5,absolute_return_60,amount,change,close,daily_change,high,...,return_20,return_5,return_60,trade_date,ts_code,vol,name,industry,list_date,date_gap
12930,0.025770,0.086256,0.199356,0.075877,0.191840,7.481653e+05,-0.88,28.38,1.0287081339712918,30.50,...,0.180761,0.059197,0.173362,2019-02-01,300755.SZ,261121.18,华致酒行,其他商业,2019-01-29,3 days
12931,0.002685,0.027517,0.159060,0.023154,0.214765,6.780097e+05,2.17,30.55,1.0287081339712918,31.19,...,0.130606,-0.001964,0.184943,2019-02-11,300755.SZ,229534.98,华致酒行,其他商业,2019-01-29,13 days
1763,-0.111601,-0.024261,-0.087781,-0.127702,0.582708,1.220099e+04,4.12,45.34,1.0014556040756917,45.34,...,-0.087781,-0.127702,0.582708,2015-03-02,002745.SZ,2691.00,木林森,半导体,2015-02-17,13 days
5603,-0.146874,-0.048095,-0.123566,-0.160932,0.819090,1.305404e+04,2.23,24.57,1.0559534467323182,24.57,...,-0.035816,-0.076923,1.001221,2015-03-02,603618.SH,5313.00,杭电股份,电气设备,2015-02-17,13 days
1764,-0.086425,-0.048190,-0.066063,-0.087104,0.461765,1.164227e+06,2.13,47.47,1.0014556040756917,49.48,...,-0.130398,-0.149989,0.361070,2015-03-03,002745.SZ,260725.15,木林森,半导体,2015-02-17,14 days

In [65]:
df_raw = df_raw[df_raw['date_gap']>=((pd.to_datetime('20190831'))-pd.to_datetime('20190601'))]  #only choose those with date_gap>90

In [66]:
df_raw.sort_values(by = 'date_gap').head()

,absolute_return_10,absolute_return_2,absolute_return_20,absolute_return_5,absolute_return_60,amount,change,close,daily_change,high,...,return_20,return_5,return_60,trade_date,ts_code,vol,name,industry,list_date,date_gap
11220,0.046261,-0.002218,0.058935,-0.050380,0.012991,169351.2860,-0.71,31.53,1.0489465153970827,31.97,...,0.059943,-0.049477,0.013955,2016-03-22,603996.SH,53429.09,ST中新,家用电器,2015-12-22,91 days
1740,0.058405,0.027066,0.133618,0.043590,-0.012821,120043.8669,-0.71,35.00,1.0435301132975556,35.90,...,0.136857,0.046571,-0.010000,2015-03-31,002738.SZ,34101.33,中矿资源,小金属,2014-12-30,91 days
11016,0.116706,0.142773,0.039692,0.077014,0.017180,192763.1160,0.02,16.81,1.0023852116875371,17.18,...,0.044021,0.081499,0.021416,2016-03-31,603299.SH,113951.54,苏盐井神,化工原料,2015-12-31,91 days
9573,0.186311,0.103886,0.157535,0.056739,0.186799,160911.3968,-0.47,62.80,1.0309513621452002,65.00,...,0.133758,0.035032,0.162420,2016-03-09,002780.SZ,25720.96,三夫户外,其他商业,2015-12-09,91 days
5539,0.047832,0.005421,0.078763,-0.016263,0.260842,51766.9050,0.25,31.32,1.0779595765158805,31.36,...,0.080140,-0.015006,0.262452,2015-03-04,603518.SH,16630.80,锦泓集团,服饰,2014-12-03,91 days

In [67]:
df_raw = df_raw[df_raw['name'].str.contains('ST') == False]

In [68]:
df_raw.sort_values(by = ['trade_date','ts_code'],inplace = True)

In [69]:
df_raw.shape

(14108, 35)

In [72]:
increase = df_raw[((df_raw['close']-df_raw['low'])/df_raw['low'])>0.05]
increase = increase[increase['pct_chg']<10]  
decrease = df_raw[((df_raw['close']-df_raw['high'])/df_raw['high'])<-0.05]
decrease = decrease[decrease['pct_chg']>-10]

In [73]:
df_raw['absolute_return_2']=(df_raw['next2_close']-df_raw['next1_open'])/df_raw['next1_open']

In [74]:
decrease.describe()[['absolute_return_2','absolute_return_5','absolute_return_10','absolute_return_20','absolute_return_60']]

,absolute_return_2,absolute_return_5,absolute_return_10,absolute_return_20,absolute_return_60
count,591.000000,591.000000,591.000000,591.000000,591.000000
mean,0.013428,0.011694,0.045281,0.077092,0.026978
std,0.051685,0.078815,0.106860,0.159182,0.356498
min,-0.507870,-0.552778,-0.515278,-0.663417,-0.744796
25%,-0.014539,-0.033607,-0.006833,-0.001417,-0.175007
50%,0.012635,0.013333,0.037891,0.066552,-0.033673
75%,0.043291,0.052515,0.089839,0.138950,0.150232
max,0.194892,0.464324,0.613685,0.968886,1.756811

In [75]:
increase.describe()[['absolute_return_2','absolute_return_5','absolute_return_10','absolute_return_20','absolute_return_60']]

,absolute_return_2,absolute_return_5,absolute_return_10,absolute_return_20,absolute_return_60
count,1071.000000,1071.000000,1071.000000,1071.000000,1071.000000
mean,-0.003889,-0.005573,0.013189,0.049808,-0.000090
std,0.047708,0.073473,0.102160,0.154727,0.312951
min,-0.175088,-0.523067,-0.538657,-0.716745,-0.780531
25%,-0.032497,-0.047730,-0.042014,-0.031811,-0.181213
50%,-0.006924,-0.007463,0.004405,0.032877,-0.056364
75%,0.022135,0.031672,0.055541,0.120031,0.141562
max,0.220000,0.464088,0.761530,0.844690,1.511010

In [76]:
big_move = increase.append(decrease)

In [77]:
big_move.describe()

,absolute_return_10,absolute_return_2,absolute_return_20,absolute_return_5,absolute_return_60,amount,change,close,high,low,...,open_low,pct_chg,pre_close,return_10,return_2,return_20,return_5,return_60,vol,date_gap
count,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000,1.662000e+03,1662.000000,1662.000000,1662.000000,1662.000000,...,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000,1.662000e+03,1662
mean,0.024601,0.002269,0.059510,0.000567,0.009535,5.285030e+05,0.254386,23.115981,23.906203,22.029910,...,-0.005271,1.216227,22.861594,0.018879,-0.003062,0.053604,-0.004876,0.004198,3.871804e+05,3648 days 21:46:34.223826
std,0.104955,0.049838,0.156823,0.075844,0.329246,8.572138e+05,1.602791,23.773771,24.246568,22.567271,...,0.024803,4.964647,23.071020,0.104993,0.054711,0.157037,0.077783,0.329058,7.929687e+05,2570 days 19:46:36.604592
min,-0.538657,-0.507870,-0.716745,-0.552778,-0.780531,9.847117e+03,-8.290000,2.950000,3.060000,2.900000,...,-0.498119,-9.990000,2.920000,-0.537922,-0.530721,-0.716634,-0.552778,-0.780531,3.260830e+03,91 days 00:00:00
25%,-0.033457,-0.025835,-0.021449,-0.042185,-0.180759,1.543657e+05,-0.420000,10.500000,10.930000,10.035000,...,-0.013200,-2.990000,10.375000,-0.038471,-0.033750,-0.030554,-0.046795,-0.182526,7.415215e+04,1413 days 12:00:00
50%,0.016303,0.000000,0.042227,-0.001174,-0.048893,2.828946e+05,0.310000,16.980000,17.625000,16.160000,...,-0.003606,2.535000,16.750000,0.011063,-0.004865,0.037084,-0.005762,-0.057181,1.684676e+05,3020 days 12:00:00
75%,0.069693,0.030527,0.126301,0.040095,0.144902,5.442083e+05,0.890000,31.047500,32.137500,29.700000,...,0.002380,5.100000,30.915000,0.062638,0.029257,0.121011,0.035089,0.140994,3.925532e+05,5960 days 18:00:00
max,0.761530,0.220000,0.968886,0.464324,1.756811,1.222087e+07,32.630000,725.300000,729.500000,688.180000,...,0.100503,9.995300,692.670000,0.914922,0.211055,1.029034,0.610447,1.762317,1.670655e+07,10254 days 00:00:00

In [78]:
big_move.head(5)

,absolute_return_10,absolute_return_2,absolute_return_20,absolute_return_5,absolute_return_60,amount,change,close,daily_change,high,...,return_20,return_5,return_60,trade_date,ts_code,vol,name,industry,list_date,date_gap
0,-0.034895,-0.009970,-0.005982,-0.091725,1.392822,2.492726e+05,0.44,10.04,1.0218750000000003,10.46,...,-0.006972,-0.092629,1.390438,2015-03-02,000016.SZ,250753.81,深康佳A,家用电器,1992-03-27,8375 days
489,-0.005263,0.003509,-0.022807,-0.040351,0.540351,1.115499e+06,0.49,5.75,1.0703422053231937,5.79,...,-0.031304,-0.048696,0.526957,2015-03-02,000717.SZ,1975481.06,韶钢松山,普钢,1997-05-08,6507 days
597,0.008011,-0.004005,0.006676,-0.038051,-0.215621,1.390559e+06,0.26,15.11,1.0228956228956227,15.11,...,-0.001985,-0.046327,-0.222369,2015-03-02,000793.SZ,944717.82,华闻集团,出版业,1997-07-29,6425 days
619,-0.025773,-0.023196,-0.022165,-0.020103,0.224742,5.997683e+05,1.06,19.63,1.0554658050619286,19.78,...,-0.033622,-0.031584,0.210392,2015-03-02,000800.SZ,310092.90,一汽轿车,汽车整车,1997-06-18,6466 days
973,0.064257,0.063588,-0.054886,0.015395,0.463855,3.228040e+05,0.90,15.06,1.0112994350282485,15.07,...,-0.062417,0.007304,0.452191,2015-03-02,002084.SZ,221080.32,海鸥住工,家居用品,2006-11-24,3020 days

In [80]:
(big_move.absolute_return_2+1).prod()

5.1884117035914

In [83]:
(df_raw.absolute_return_2+1).prod()

9.075676353533024e+34